<p>This is the about view.</p>

<div>
<p>Hoping to one day make a print button exclusively for The Shadow right here:
    <a href="#" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-print"></span> Print!
    </a>
  </p>
</div>

<div>
  <h1>
    Adding numbers together is always a favorite of The Shadow!
  </h1>
</div>

<div ng-app ng-init="firstnum=1;secondnum=2">
  <input type="number" min="0" ng-model="firstnum">
    plus
  <input type="number" min="0" ng-model="secondnum">
    equals 
  <span class="label label-success">{{firstnum + secondnum}}</span>
</div>